@media (max-width: 1024px) {
  .about {
    min-height: 487px;
  }

  .about__container {
    padding: 80px 50px;
    padding-right: 25px;
    padding-bottom: 70px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .about {
    min-height: 583px;
  }

  .about__container {
    height: 100%;
  }
}

@media (max-width: 490px) {
  .about__container {
    padding: 50px 0 41px 15px;
  }

  .about__title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about__text {
    min-width: 290px;
    font-size: 14px;
  }
}
